.honorContainer1{
    /* background-color: rgba(20, 218, 224, 0.1); */
    background-color: white;
    margin-left: 1.5%;
    margin-right: 0%;;
    margin-bottom: 4%;
    margin-top: 4%;
    

}

.noticeDivLeft1{
    background-color:  rgb(29, 52, 40);
    color:rgb(219, 216, 216);
    /* border-radius: .5%; */
    border:1px solid rgb(10, 10, 10);
    
}

.noticeDivRight1{
    padding-left:.25%;
    padding-right:.25%;
    
   
    margin-left:8% !important;
    background-color: rgb(255, 255, 255);
    color:rgb(22, 21, 21);
    border-radius: .5%;
    border:1px solid rgb(2, 144, 71);
    box-shadow: 0 3px 10px rgb(43, 149, 73);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    
}
.noticeDivRight1:hover{
    cursor:pointer;
    color:black;
    transform: scale(1.0); /* Scaling up the div on hover for an attention effect */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Enhancing the box shadow on hover */
}

.noticeDivRightheading1{
    background-color:rgb(41, 97, 3);
   
    border-radius: 1%;
    color:white;
    margin-right:2%;
    margin-left:2%;
    margin-top: 2%;
    padding-top:1%;
  
}
.text-start{
    text-align: justify;
}

.carouselItemContainerSpeech1{
    margin-left: 5%;
    
    padding-top:2%;
    /* background-color: rgb(22, 21, 21); */
    background-color:  rgb(29, 52, 40);
    color:silver;
    /* border-radius: 1%; */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    
}
.carouselItemContainerSpeech1 hr{
    border:2px solid silver;
    margin-left:5%;
    margin-right:5%;
}

/*AN*/
.description1.text-start.p-3{
    color:silver;
}

.noticeDivLeft1 p:hover{
    cursor: pointer;
    
}

.noticeTitle1{
    text-transform: uppercase;
    font-size: 29px;
    font-family: poppin, serif;
    font-weight: 750;
    text-align: center;
    padding:2%;
}
.noticeTitleSpeech1{
    background-color:  rgb(29, 52, 40);
    padding:2%;
    margin-left:4%;
    margin-right:4%;
    font-weight: 600;
}

.noticeDivRight1 a{
    display: flex;
    text-decoration: none;
    /* color: navy; */
    color:green;
    justify-content: start;
    font-size: 16px;
    font-family: Montserrat, serif;
    font-weight: 400;
    padding-left:3%;  
}

.noticeDivRight1 hr{
 margin-right: 4%;
 margin-left: 3%;
 /* color:green; */
 
 border:4px solid green;
}

.noticeDivRight1 a:hover{
    text-decoration: underline; 
    color:blue;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out; 
   
}
.seeMoreLink1 {
    color: blue!important; /* Change the color to blue */
    /* Additional styles if needed */
}

.carouselVideo1:hover{
    cursor: pointer;
    box-shadow: 0 0 20px rgba(137, 135, 135, 0.8); /* Enhancing the box shadow on hover */
}
.carouselItemContainerSpeech{
    box-shadow: 0 0 20px rgba(86, 84, 84, 0.8); /* Enhancing the box shadow on hover */
}

@media (max-width: 1268px) {
    .carouselImg{
        width: 100%;
        height: 400px;
    }
    .topBanner{
        /* margin-top: -5px; */
      
        width:100%;
        height:auto;
        
    }
    .bannerRight{
        width: 100%;
        padding:0%;
        margin: 0% !important;
        
        
    } 
    .fullBanner{
        display: flex;
        flex-direction: column;
        justify-content: start;
        
    }
    .bannerRight h3{
        font-weight: 500;
        letter-spacing: 1PX;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        
        .buttonBanner {
            width:50% !important;
            height: 90% !important;
            margin: 0!important;;
            padding: 0!important;
            font-size: small;
            margin-bottom: 3%!important;
            background-color: yellow;
            /* background-color: rgb(172, 171, 171)!important;
            color:rgb(2, 2, 51)!important; */
          }

          .noticeDivRight{
            width: 100% !important;
            margin-left: 0% !important;
        }
          .topBanneralumni{
          width:100%;  
        }
   
        .carouselItemContainerSpeech{
            width: 100% !important;
            margin-left: 0% !important;
       }

          .fullBanneralumni{
            display: flex;
            flex-direction: column;
            
          
        }
        .bannerRightalumni{
            width: 100%;
            padding: 4% !important;
         
        }
        .alumniDivRight{
          margin:3% !important;;
        }
        
        .carouselImgalumni{
            width: 100%;
            height: 400px;
        }
        .bannerRightalumni h3{
            margin:9%;
            margin-bottom: 0% !important;
            font-weight: 200;
            
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
            }
            .carouselItemContaineralumni .carouselCaptionalumni {
                position: absolute;
                bottom:7%;
                color:white;
                width:100%;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.7); /* Adjust transparency here */
            
            }
            .carouselCaptionalumni h3{
               font-size: 20px;

            }
            
            .carouselCaptionalumni p{
                font-size: 12px;
             }

             .card-carouselalumni{
               
                background-color:white;
            }
             
  
  
  }
  @media (max-width: 760px) {
    .carouselImg{
        width: 100%;
        height: 400px;
    }
    .topBanner{
        /* margin-top: -5px; */
      
        width:100%;
        height:auto;
        
    }
    .bannerRight{
        width: 100%;
        padding:0%;
        margin: 0% !important;
        padding-bottom: 1.5%!important;
        
    } 
    .fullBanner{
        display: flex;
        flex-direction: column;
        justify-content: start;
        
    }
    .bannerRight h3{
        font-weight: 500;
        letter-spacing: 1PX;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        
        .buttonBanner {
            width:50% !important;
            height: 90% !important;
            margin: 0!important;;
            padding: 0!important;
            font-size: small;
            margin-bottom: 3%!important;
            /* background-color: rgb(172, 171, 171)!important;
            color:rgb(2, 2, 51)!important; */
          }
          .topBanneralumni{
          width:100%;  
        }
   
        

          .fullBanneralumni{
            display: flex;
            flex-direction: column;
            
          
        }
        .bannerRightalumni{
            width: 100%;
            
            padding: 4% !important;;
            
        }
        
        .carouselImgalumni{
            width: 100%;
            height: 400px;
        }
        .bannerRightalumni h3{
            margin:9%;
            margin-bottom: 0% !important;
            font-weight: 200;
            
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
            }
            .carouselItemContaineralumni .carouselCaptionalumni {
                position: absolute;
                bottom:7%;
                color:white;
                width:100%;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.7); /* Adjust transparency here */
            
            }
            .carouselCaptionalumni h3{
               font-size: 20px;

            }
            
            .carouselCaptionalumni p{
                font-size: 12px;
             }

             .card-carouselalumni{
               
                background-color:white;
            }
             
  
  
  }